$font-light: 300;
$cor-amarela: #e1aa12;
$cor-cinza: rgba($color: #000000, $alpha: 0.6);

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1.5px;
}

p{
    font-weight: $font-light;
    line-height: 1.8;
}

a{
    transition: 0.25s;
    color: $cor-amarela;
    &:hover{
        text-decoration: none;
        color: $cor-amarela;
    }
}
///header
%padrao-header{
    width: 100%;
    z-index: 3;
    h1{
        font-weight: 700;
        color: #fff;
        font-size: 34px;
        margin-bottom: 0;
    }
}
.header-absolute{
    position: absolute;
    @extend %padrao-header;
}

.header-sistemas{
    position: relative;
    @extend %padrao-header;

    .fundo-menu{
        background-color: rgba($color: #000000, $alpha: 1.0);
    }
    p{
        color: #fff;
    }

    a{
        font-weight: 600;
        color: #fff;
    }

    .arrow{
        color: $cor-amarela;
    }

    .busca{
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.1);
    }

    .itens-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        p{
            margin-bottom: 0;
        }
    }
    
    .barra-busca{
        form{
            input[type="text"]{
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #000000;
                padding: 3px 7px;
                font-weight: 600;
                color: #888;
            }
    
            input[type="submit"]{
                background-color: #000;
                background-image: url("../images/icones/search-white.png");
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: center;
                padding: 15px;
                width: 30px;
                height: 30px;
                border: 1px solid #000;
            }

            margin-bottom: 0;
        }

        padding: 15px 0;
    }
    
}


.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
        font-weight: $font-light;
    }
}



%pos-titulo{
    padding-bottom: 10px;
    border-bottom: 1px solid $cor-amarela;
    width: 45px;
}

.pos-titulo{
    @extend %pos-titulo;
}

.pos-titulo-header{
    @extend %pos-titulo;
    margin-left: auto;
}

.imagem-banner img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

%base-filtro-cinza{
    width: 100%;
    background-color: $cor-cinza;
}

.filtro-cinza{
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100vh;
    @extend %base-filtro-cinza;

    .insights-banner{
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        height: 100vh;

        .call-to-action-home{
            position: absolute;
            width: 100%;
            height: 75px;
            border-left: 1px solid $cor-amarela;
            bottom: 0;
            padding-left: 10px;

        }

        h2{
            font-weight: $font-light;
            color: #fff;
            font-size: 36px;
            margin-bottom: 45px;
        }

        h3{
            color: #fff;
            font-size: 28px;
        }

        span{
            font-weight: 600;
        }
    }
}

//nosso proposito
.background-cinza{
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.imagem-nosso-proposito{
    background: url('../images/nosso-proposito.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    .filtro-cinza-imagem{
        @extend %base-filtro-cinza;
        height: 100%;
    }
}

.nosso-proposito{

    h2{
        color: $cor-amarela;
    }

    p{
        color: #fff;
    }

    span{
        font-weight: 600;
    }
}

//como funciona
.background-como-funciona{
    background-color: rgba($color: #000000, $alpha: 0.15);

    img{
        height: auto;
        width: 100px;
    }

    span{
        font-weight: bold;
    }

    h3{
        color: $cor-amarela;
        font-weight: 600;
        font-size: 24px;
    }

    .icone-como-funciona{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

//adquira seu sistema
.imagem-adquira-seu-sistema{
    background: url('../images/adquira-seu-sistema.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    .filtro-cinza-imagem{
        @extend %base-filtro-cinza;
        height: 100%;
    }
}

.adquira-seu-sistema{

    h2{
        color: $cor-amarela;
        text-align: right;
    }

    p{
        color: #fff;
    }

    span{
        font-weight: 600;
    }
    a{
        margin-top: 45px;
    }
    .pos-titulo-adquira-seu-sistema{
        @extend %pos-titulo;
        margin-right: auto;
        width: 90px;
    }
}

//footer
.footer{
    color: #fff;

    .fundo-footer{
        background-color: rgba($color: #000000, $alpha: 1.0);
    }

    .menu-footer{
        ul{
            padding-left: 0;
        }

        li{
            list-style-type: none;
            display: block;
        }

        a{
            color: #fff;
            &:hover{
                color: $cor-amarela;
            }
        }

        h3{
            color: $cor-amarela;
            font-size: 26px;
        }
    }

    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;

        h1{
            font-weight: bold;
            font-size: 34px;
        }
    }
}

///home softwares
.main{
    padding: 30px 0;
    background-color: rgba($color: #000000, $alpha: 0.07);

    section{
        margin-bottom: 30px;
    }

    h2{
        font-weight: 600;
        margin-bottom: 30px;
    }
}

.bold{
    font-weight: 600;
}

.carousel img{
    height: 75vh;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 75vh;
    margin-right: 10%;
}

.carousel-indicators {
    li{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: #fff;
    }
}

.carousel-caption{
    z-index: 15;
    text-align: left;
    left: 5%;
     a{
        font-weight: 600;
    }
}

.filtro-cinza-banner {
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 14;
    height: 75vh;
    position: absolute;
    width: 100%;
    top: 0;
}

.box-categoria{
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-bottom: 30px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    padding: 30px 5px;
    text-align: center;
    transition: transform .2s;

    img{
        height: auto;
        width: 64px;
    } 

    h3{
        color: #fff;
        font-size: 24px;
    }

    &:hover{
        transform: scale(1.1);
    }
}

.veja-todas-categorias{
    justify-content: center;
    background-color: $cor-amarela;

    h3{
        color: #fff;
    }
}

.card h5{
    color: $cor-amarela;
    font-weight: 600;
}

.card p, .card li{
    font-size: 18px;
}

.list-group-flush{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    z-index: -1;
}

.space-card{
    min-height: 515px;
}

.card{
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.2);
    border: none;

    a{
        color: inherit;
        font-weight: 600;
        &:hover{
            color: $cor-amarela;
        }
    }

    p a{
        font-weight: 400;
    }
}

.card:hover .list-group-flush{
    position: relative;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.box-center{
    display: flex;
    justify-content: center;
}

.box-areas{
    height: 300px;
    width: 100%;
    background-color: #000;
    margin-bottom: 30px;
    text-align: center;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &:hover h3{
        font-weight: 600;
        transform: scale(1.1);
    }

    .filtro-imagem-areas{
        position: absolute;
        top: 0;
        background-color: rgba(#000, 0.75);
        width: calc(100% - 30px);
        height: 300px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 30px 15px
    }

    .last-area{
        justify-content: center;
        background-color: #000;
    }

    .mg-bootstrap{
        margin: 0 15px;
    }

    h3{
        color: #fff;
        transition: transform .2s;
    }
}

///tela pesquisa

.fundo-pesquisa{
    background-color: (#000, 0.15);

    .retorno-pesquisa{

        h2{
            font-weight: 400;
            margin-bottom: 45px;
            b{
                font-weight: 600;
            }
        }
    }
}

//aside
.sidebar-filtros{
    position:sticky;
    top: 45px;

    h3{
        font-weight: 600;
    }

    h4{
        color: $cor-amarela;
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    ul{
        padding-left: 0;

        li{
            list-style-type: none;

            a{
                color: #000;
                font-size: 18px;

                &:hover{
                    color: $cor-amarela;
                }
            }
        }
    }
}

/// single-software
.bg-white{
    background-color: #fff;
}

%padrao-box{
    border: 1px solid #eee;
    padding: 30px;
}

.box-infos{
    @extend %padrao-box;

    h2{
        margin-bottom: 15px;
    }

    .nota-avaliacao{
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        align-items: center;
        img{
            height: 25px;
            width: auto;
            padding-right: 5px;
        }
        span{
            padding-left: 5px;
        }
    }

    .preco-software{
        font-size: 42px;
        font-weight: 600;
    }

    p{
        font-size: 22px;
        font-weight: 600;
        a{
            color: #000;
        }
    }

    a{
        &:hover{
            color: $cor-amarela;
        }
    }

    .botao-comprar{
        width: 100%;
        background-color: $cor-amarela;
        padding: 15px 0;
        border: 1px solid $cor-amarela;
        border-radius: 10px;
        font-size: 22px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s;

        &:hover{
            background-color: #fff;
            color: $cor-amarela;
        }
    }
}

.action-comprar{
    position: sticky;
    top: 0;
}

%padrao-paragrafo-single{
    font-weight: 400;
    font-size: 18px;
    color: #777;
}

.especificacoes-software{
    .titulo-especificacao{
        margin-top: 15px;
        margin-bottom: 0;
    }

    .resposta-especificacao{
        @extend %padrao-paragrafo-single;
    }
}

.descricao-software{
    p{
        @extend %padrao-paragrafo-single;
    }
}

.box-sistemas-relacionados{
    @extend %padrao-box;

    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h3{
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;

        a{
            color: #000;
            &:hover{
                color: $cor-amarela;
            }
        }
    }
}